div.NowPlaying {
	background: white;
	position: fixed;
	height: 70px;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: visible;
	display: flex;
	flex-flow: row-reverse nowrap;
	align-items: center;
	justify-content: flex-end;
	padding: 0.5rem;
	z-index: 10;
}

.NowPlaying .wave {
	height: 10vw;
	width: 100%;
	left: 0;
	right: 0;
	position: absolute;
	top: -5vw;
	background: url("../imgs/mobile_wave.svg") no-repeat;
	background-position: center;
	background-size: cover;
}

.NowPlaying img {
	border-radius: 100%;
	z-index: 10;
	height: 50px;
	width: 50px;
	margin: 0 0.5rem 0 0.2rem;
}

.NowPlaying .trackInfo {
	color: #24233b;
	font-size: 18px;
	z-index: 10;
	width: 50%;
	flex-grow: 1;
	margin-left: 0.2rem;
}

.NowPlaying .trackInfo h2 {
	font-size: 18px;
	margin: 0;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.NowPlaying .trackInfo h3 {
	font-size: 16px;
	margin: 0;
	opacity: 0.8;
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.NowPlaying .trackInfo h4 {
	font-size: 14px;
	margin: 0.2rem 0 0 0;
	opacity: 0.8;
	font-weight: 400;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
