.Queue {
	margin: 0;
	list-style-type: none;
	padding-left: 0;
	/* overflow-y: scroll; */
	/* height: 100%; */
	color: white;
	padding-bottom: 75px;
	padding-top: 50px;
}

.Queue li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	padding: 0.5rem 0.8rem;
	display: flex;
	flex-flow: column wrap;
	height: 60px;
	/* width: 100%; */
	justify-content: center;
	align-content: space-between;
}

.Queue h2 {
	font-size: 16px;
	font-weight: 500;
	margin: 0;
	height: 20px;
	max-width: 75vw;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Queue h3 {
	font-size: 14px;
	font-weight: 200;
	opacity: 0.6;
	margin: 0;
	max-width: 65vw;
	height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Queue .vote img {
	width: 22px;
	margin: 0;
	cursor: pointer;
}

.Queue .vote p {
	margin: -0.3rem 0;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	opacity: 0.6;
}

.Queue .vote,
.QueueHeader .voteSpace {
	width: 22px;
}

.Queue:last-child::after {
	position: fixed;
	content: "";
	bottom: 65px;
	height: 60vh;
	background-image: linear-gradient(#24233b00, #24233baa);
	z-index: 9;
	width: 100%;
	pointer-events: none;
}

.Queue .album,
.Queue .length {
	display: none;
}

.QueueHeader {
	display: none;
}

@media screen and (min-width: 480px) {
	.Queue li {
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
	}

	.Queue .artist,
	.Queue .album,
	.QueueHeader .album,
	.QueueHeader .artist {
		width: 22%;
	}

	.Queue .title,
	.QueueHeader .title {
		width: 30%;
	}

	.Queue .artist,
	.Queue .album,
	.Queue .length {
		font-size: 16px;
		display: block;
		opacity: 0.8;
	}

	.QueueHeader .length,
	.Queue .length {
		width: 3rem;
		text-align: right;
	}

	.QueueHeader {
		display: flex;
		padding: 0.5rem 0.8rem;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	}
}
