.Queue {
	margin: 0;
	list-style-type: none;
	padding-left: 0;
	/* overflow-y: scroll; */
	/* height: 100%; */
	color: white;
	padding-bottom: 85px;
	padding-top: 50px;
}

.Queue li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.3);
	padding: 0.5rem 0.8rem;
	display: flex;
	flex-flow: column wrap;
	height: 60px;
	/* width: 100%; */
	justify-content: center;
	align-content: flex-start;
}

.Queue h2 {
	font-size: 16px;
	font-weight: 500;
	margin: 0;
	height: 20px;
	max-width: calc(100% - 2.5rem);
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Queue h3 {
	font-size: 14px;
	font-weight: 200;
	opacity: 0.6;
	margin: 0;
	max-width: calc(100% - 2.5rem);
	height: 20px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Queue .vote img {
	width: 22px;
	margin: 0;
	cursor: pointer;
}

.Queue .vote p {
	margin: -0.3rem 0;
	text-align: center;
	font-size: 16px;
	font-weight: 300;
	opacity: 0.6;
}

.Queue .vote,
.QueueHeader .voteSpace {
	width: 22px;
	margin-right: 1rem;
}

.Queue:last-child::after {
	position: fixed;
	content: "";
	bottom: 65px;
	height: 40vh;
	background-image: linear-gradient(#24233b00, #24233b88);
	z-index: 9;
	width: 100%;
	pointer-events: none;
}

.Queue .album,
.Queue .length {
	display: none;
}

.QueueHeader .user,
.Queue .user {
	display: none;
}

.QueueHeader {
	display: none;
}

.hostWarning {
	position: absolute;
	width: 80%;
	left: 1rem;
	top: 3rem;
	font-size: 1rem;
	color: white;
	opacity: 0.8;
	font-weight: 200;
	line-height: 1.5;
	max-width: 300px;
}

@media screen and (min-width: 480px) {
	.Queue li {
		padding: 0.3rem 0rem;
		margin: 0 0.8rem;
		flex-direction: row;
		align-items: center;
		justify-content: flex-start;
	}

	.Queue .artist,
	.Queue .album,
	.QueueHeader .album,
	.QueueHeader .artist {
		flex-basis: 20%;
		flex-grow: 2;
	}

	.Queue .title,
	.QueueHeader .title {
		flex-basis: 30%;
		flex-grow: 3;
	}

	.Queue .artist,
	.Queue .album,
	.Queue .length {
		font-size: 16px;
		display: block;
		opacity: 0.8;
	}

	.QueueHeader .length,
	.Queue .length {
		width: 3.1rem;
		text-align: right;
	}

	.QueueHeader {
		position: sticky;
		top: 45px;
		display: flex;
		padding: 0.5rem 0.8rem;
		flex-direction: row;
		align-items: center;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		background-color: #24233b;
		z-index: 5;
		box-shadow: 0px 10px 25px #24233b;
	}

	.QueueHeader * {
		font-weight: 500 !important;
		opacity: 1 !important;
	}

	.Queue h2,
	.Queue h3 {
		margin-left: 0.5rem;
	}
}

@media screen and (min-width: 980px) {
	.QueueHeader .user,
	.Queue .user {
		width: 8rem;
		text-align: right;
		display: block;
		font-size: 16px;
		opacity: 0.8;
	}

	.QueueHeader .length,
	.Queue .length {
		text-align: left;
	}
}
