.Search {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	padding: 0.5rem 0.5rem;
	background-color: #24233b00;
	z-index: 6;
	color: white;
	height: 46px;
	transition: background-color 0.2s ease;
}

.Search.active {
	min-height: 100%;
	background-color: #24233b;
}

.Search .inputBar {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	padding: 0.5rem 0.5rem;
	background-color: #24233bee;
	z-index: 10;
	display: flex;
	align-content: center;
	justify-content: space-between;
}

.Search .inputBar input {
	border: none;
	background-color: white;
	height: 30px;
	width: calc(100% - 4.9rem);
	font-size: 16px;
	font-weight: 400;
	padding: 0 2rem;
	color: #24233b;
}

.Search .inputBar h3 {
	display: inline;
	font-size: 1.6rem;
	margin: 0;
}

.Search .inputBar img {
	position: absolute;
	height: 21px;
	width: 21px;
	margin: 0;
	top: 12px;
}

.Search #closeIcon {
	right: 5.8rem;
}

.Search #searchIcon {
	left: 1.1rem;
}

.Search ul {
	padding: 0;
	padding-top: 26px;
	padding-bottom: 70px;
	list-style: none;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.Search li {
	border-bottom: 1px solid rgba(255, 255, 255, 0.4);
	height: 65px;
	display: flex;
	flex-flow: column wrap;
	align-content: flex-start;
	justify-content: center;
	cursor: pointer;
	animation: fadeIn 0.2s;
}

.Search li.focused,
.Search li:hover {
	background-color: #939aff22;
}

.Search li:active {
	background-color: #0507115b;
}

.Search li img {
	height: 50px;
	width: 50px;
	border-radius: 100%;
	margin: 0;
	margin-right: 0.5rem;
}

.Search h3 {
	font-size: 16px;
	font-weight: 500;
	margin: 0;
	max-width: 65vw;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Search h4 {
	font-size: 14px;
	font-weight: 200;
	opacity: 0.6;
	margin: 0;
	max-width: 65vw;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.Search li div .album,
.Search li div .length {
	display: none;
}

@media screen and (min-width: 480px) {
	.Search li div {
		display: flex;
		width: 90%;
		align-content: center;
		align-items: center;
		justify-content: space-between;
	}

	.Search li div .album,
	.Search li div .length {
		display: block;
	}

	.Search li div * {
		width: 22%;
		margin-left: 0.5rem;
		flex-grow: 1;
		font-size: 16px;
	}

	.Search li div .length {
		width: 3rem;
	}

	.Search li div .title {
		width: 35%;
	}

	.Search .inputBar h3 {
		display: none;
	}

	.Search .inputBar input {
		width: 100%;
	}

	.Search .inputBar #closeIcon {
		right: 0.9rem;
	}
}
